@import '../assets/fonts/ubuntu/ubuntu.css';
@import '../node_modules/css-easing/_easings.css';
@import '../node_modules/font-awesome/css/font-awesome.css';

html, body {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	overflow: hidden;
	margin: 0; padding: 0;
	
	background-color: #333;
	color: white;
	font-family: 'ubuntu', sans-serif;
	font-weight: 300;
}

* {
	-webkit-user-select: none;
	box-sizing: border-box;
}

h1, h2 {
	font-size: 1.2em;
	font-weight: 300;
}

.btn, .btn * {
	cursor: pointer !important;
}

.btn.bubble {
	display: inline-block;
	padding: 8px 10px;
	transition: background .1s, border .3s, color .1s, box-shadow .5s;
	border-radius: 4px;
	background-color: #002537;
	/*background-color: #1e0d44;*/
	border: 3px solid black;
	color: white;
	box-shadow: 0 0 5px rgba(0,0,0,.5);
}
.btn.bubble:hover {
/*	border: 3px solid #c9f47d;
	box-shadow: 0 0 10px #c9f47d;
*/	border: 3px solid #d74802;
	box-shadow: 0 0 10px #d74802;
}
