<link rel='import' href='../bower_components/Polymer/polymer.html'>

<link rel='import' href='./gp-droptarget.html'>
<link rel='import' href='./gp-item.html'>
<link rel='import' href='./gp-settings.html'>
<link rel='import' href='./gp-version.html'>

<link rel='stylesheet' href='global.css'>
<link rel='stylesheet' href='../node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css' />


<!-- 

TODO
	set window progress bar 
	http://electron.atom.io/docs/v0.36.0/api/browser-window/#win-setprogressbar-progress

-->

<dom-module id="gp-app">

	<style>
		
		:host {
			position: absolute;
			width: 100%; height: 100%;
			top: 0; left: 0;
			text-align: center;
			--light-green: #c9f47d;
			--dark-purple: #1e0d44;
			background-color: #333;
			color: white;
			/*color: var(--dark-purple);*/
			font-family: 'ubuntu', sans-serif;
			font-weight: 300;
		}


		#logo {
			position: absolute;
			top: 30px; left: 0;
			width: 100%; height: 90px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url('../assets/imgs/logo-type.png');

			transition: opacity .3s;
			opacity: 1;
		}
		:host[state='ready'] #logo {
			opacity: 0;
		}


		#file-selection {
			position: absolute;
			top: 0; left: 0;
			width: 100%; height: 150px;
			transition: all .5s var(--easeOutQuart);
		}
		#file-selection .center {
			width: 100%;
		}
		:host[state='noFiles'] #file-selection {
			top: 50%;
			margin-top: -60px;
			/*transform: translateY(-50%);*/
		}
		:host[state='processing'] #file-selection,
		:host[state='done'] #file-selection {
			opacity: 0;
			pointer-events: none;
		}

		#file-selection .hr {
			position: relative;
			width: 160px;
			height: 1px;
			background: white;
			margin: 0 auto;
			margin-bottom: 20px;
		}

		#file-selection .center {
			position: absolute;
			top: 50%;
			margin-top: -60px;
		}



		#queue {
			position: absolute;
			top: 150px;
			width: 100%;			
			overflow-y: scroll;
			overflow-x: hidden;
			background: #161616;
			box-shadow: inset 0 0 15px black;
			border-top: 1px solid #000;
			border-bottom: 1px solid #444;

			transition: all .5s .3s var(--easeOutQuart);
			padding: 10px 0;
			height: -webkit-calc(100% - 400px);
		}
		:host[state='noFiles'] #queue {
			height: 0;
			padding: 0;
		}



		#controls {
			position: absolute;
			width: 100%; height: 250px;
			bottom: 0; left: 0;
			opacity: 0;
			visibility: hidden;
			transition: opacity .5s;
		}
		:host[state='ready'] #controls {
			opacity: 1;
			visibility: visible;
		}

		
		.btn {
			cursor: pointer;
		}

		.vr:after {
			content: '';
			padding: 0 10px;
			color: white;
		}

		h1, span {
			cursor: default;
		}

		.selection-option {
			display: inline;
			margin-bottom: 12px;
			width: 115px;
		}
		.drag-drop {
			display: inline-block;
			padding: 8px 12px;
			border: 1.5px dashed rgba(255,255,255, .3);
			border-radius: 2px;
		}
		.or {
			margin: 0 10px;
			font-size: .8em;
		}

		#make-gifs {
			position: absolute;
			bottom: 0; right: 0;
			width: 100%;
			padding: 20px 0;
			pointer-events: none;
			background-color: var(--light-green);
			color: var(--dark-purple);
			font-weight: bold;
			text-transform: uppercase;
			box-shadow: 0 0 10px black;
			
			opacity: 0;
			transition: all .3s .7s var(--easeOutQuart);
		}
		:host[state='ready'] #make-gifs {
			opacity: 1;
			pointer-events: all;
		}

		gp-version {
			position: absolute;
			bottom: 10px; right: 10px;
			display: none;
			pointer-events: none;
		}

		:host[state='noFiles'] gp-version {
			display: block;
		}

	</style>
	
	<template>

		<div id='logo' class='btn' on-click='_onClickLogo'></div>

		<div id='file-selection'>
			<div class='center'>
				<h1>add videos</h1>
				<div class='hr'></div>
				<div class='selection-option btn bubble' on-click='_onClickSelectVideos'>
					<span>browse</span>
					<span class='fa fa-folder-open'></span>
					<input id='fileSelector' type='file' multiple hidden>
				</div>
				<span class='or'> or </span>
				<div class='selection-option drag-drop'>
					<span>drag <span class='fa fa-plus-circle'></span> drop</span>
				</div>
			</div>
		</div>
		<gp-droptarget id='dropTarget' on-files-changed='_onFilesDropped'></gp-droptarget>


		<div id="queue"></div>
		
		<div id='controls'>
			<gp-settings id='settings'></gp-settings>
			
			<div id='make-gifs' class='btn' on-click='_start'>
				<span>make gifs</span>
				<span class='fa fa-chevron-right'></span>
			</div>
		</div>

		<gp-version></gp-version>

	</template>

	<script>(function(){

		// https://github.com/noraesae/perfect-scrollbar
		var PS = require('perfect-scrollbar');
		var shell = require('electron').shell;

		var states = {
			noFiles: 'noFiles',
			ready: 'ready',
			processing: 'processing',
			done: 'done',
		}
		
		Polymer({
			is: "gp-app",

			properties: {
				state: {
					type: String,
					value: states.noFiles,
					readOnly: true,
					reflectToAttribute: true,
					observer: '_onStateChanged'
				}
			},

			created(){

			},

			ready(){
				this.$.fileSelector.addEventListener('change', this._onFileSelectorChanged.bind(this));
				PS.initialize(this.$.queue);
			},

			_onStateChanged(){
				console.log(this.localName, '_onStateChanged', this.state);
				// TODO:
				switch(this.state){
					
					case states.noFiles:
						// show logo
						// hide queue
						// hide make gif button
						// move file selector
						
						/*
							TODO: actually... D&d should always be enabled. 
							App state should react. 
							done > drop > ready
							processing > drop > run items
						*/
						// enable d&d
						this.$.dropTarget.disabled = false;
						break;

					case states.ready:
						// show queue
						// show make gif button 
						// TweenLite.set(this.$['make-gifs'], {autoAlpha: 1})
						// TweenLite.fromTo(this.$['make-gifs'], 1, 
						// 	{y:'100%'},
						// 	{y: '0%', ease: Power4.easeOut}
						// );
						break;
					
					case states.processing:
						// disable d&d
						this.$.dropTarget.disabled = true;
						// show logo
						// show spinner
						break;
					
					case states.done:
						// hide spinner
						// show restart button
						break;
				}
			},

			_onClickSelectVideos(e){
				this.$.fileSelector.click();
			},

			_onFileSelectorChanged(e){
				// console.log(e);
				var files = Array.prototype.slice.apply(e.target.files);
				this._handleNewFiles(files);
			},

			_onFilesDropped(e){
				// console.log(this.localName, '_onFilesDropped', e);
				var files = Array.prototype.slice.apply(e.detail.value);
				this._handleNewFiles(files);
			},

			_handleNewFiles(files){
				var currentFilePaths = this._getFilePathsInQueue();
				files.forEach(file => {
					// don't add files that are already in the queue
					if(currentFilePaths.indexOf(file.path) !== -1) return;
					var itemEl = document.createElement('gp-item');
					itemEl.file = file;
					itemEl.addEventListener('detached', this._onItemRemoved.bind(this));
					this.$.queue.appendChild(itemEl);
				});

				// ready for processing!
				if(files.length > 0){
					this._setState(states.ready);
				}
			},

			_onItemRemoved(){
				// console.log(this.localName, '_onItemRemoved');
				var currentFilePaths = this._getFilePathsInQueue();
				if(currentFilePaths.length === 0) this._setState(states.noFiles);	
			},

			_getFilePathsInQueue(){
				var items = Array.prototype.slice.apply(this.$.queue.querySelectorAll('gp-item'));
				return items.map(item => { return item.file.path; });
			},

			_start(){
				// console.log('gp-app._start');
				
				this._setState(states.processing);

				// collect promises so we can set state
				var items = Array.prototype.slice.apply(this.$.queue.querySelectorAll('gp-item'));
				var settings = this.$.settings.get();
				var promises = items.map(item => {
					return item.run(settings);
				});
				Promise.all(promises).then(() => {
					console.log('encoding promises resolved!');
					this._setState(states.done);
				});
			},

			_onClickLogo(){
				shell.openExternal('http://google.com');
			}

		});

	})();</script>

</dom-module>