<link rel='import' href='../bower_components/Polymer/polymer.html'>

<link rel='import' href='./gp-droptarget.html'>
<link rel='import' href='./gp-item.html'>
<link rel='import' href='./gp-settings.html'>

<link rel='stylesheet' href='global.css'>

<!-- 

	TODO
		copy/paste file support

-->

<dom-module id="gp-app">

	<style>
		
		:host {
			position: absolute;
			width: 100%; height: 100%;
			top: 0; left: 0;
			text-align: center;
			
		}

		#queue {
			padding-top: 20px;
			margin-bottom: 40px;
			height: -webkit-calc(100% - 300px);
			overflow-y: scroll;
			overflow-x: hidden;
		}
		
		.btn {
			cursor: pointer;
		}

		a {
			color: white;
		}

		.vr:after {
			content: '|';
			padding: 0 5px;
			color: white;
		}

	</style>
	
	<template>
		
		<h2>Select videos</h2>
		<span class='btn' on-click='_onClickSelectVideos'>
			<a href="#">browse</a>
			<span class='fa fa-folder-open'></span>
			<input id='fileSelector' type='file' multiple hidden>
		</span>
		<span class='vr'></span>
		<span>
			<span>drag &amp; drop</span>
			<span class='fa fa-plus-circle'></span>
		</span>
		<span class='vr'></span>
		<span>
			<span>copy &amp; paste</span>
			<span class='fa fa-clipboard'></span>
		</span>

		<div id="queue"></div>
		
		<gp-settings id='settings'></gp-settings>
		
		<div class='btn' on-click='_start'>
			<span>start encoding</span>
			<span class='fa fa-chevron-right'></span>
		</div>

		<gp-droptarget id='dropTarget' on-files-changed='_onFilesDropped'></gp-droptarget>

	</template>

	<script>(function(){
		
		Polymer({
			is: "gp-app",

			properties: {
				state: {
					type: String,
					value: 'stopped',
					readOnly: true,
					observer: '_onStateChanged'
				}
			},

			ready(){
				this.$.fileSelector.addEventListener('change', this._onFileSelectorChanged.bind(this));
			},

			_onStateChanged(){
				// TODO:
				switch(this.state){
					case 'stopped': 
						break;
					case 'running': 
						break;
				}
			},

			_onClickSelectVideos(e){
				this.$.fileSelector.click();
			},

			_onFileSelectorChanged(e){
				// console.log(e);
				var files = Array.prototype.slice.apply(e.target.files);
				this._handleNewFiles(files);
			},

			_onFilesDropped(e){
				// console.log(this.localName, '_onFilesDropped', e);
				var files = Array.prototype.slice.apply(e.detail.value);
				this._handleNewFiles(files);
			},

			_handleNewFiles(files){
				var currentFilePaths = this._getFilePathsInQueue();
				files.forEach(file => {
					// don't add files that are already in the queue
					if(currentFilePaths.indexOf(file.path) !== -1) return;
					//TODO: if queue is running, run the gp-item...?
					var itemEl = document.createElement('gp-item');
					itemEl.file = file;
					this.$.queue.appendChild(itemEl);
				});
			},

			_getFilePathsInQueue(){
				var items = Array.prototype.slice.apply(this.$.queue.querySelectorAll('gp-item'));
				return items.map(item => { return item.file.path; });
			},

			_start(){
				// console.log('gp-app._start');
				
				this._setState('running');

				// collect promises so we can set state
				var items = Array.prototype.slice.apply(this.$.queue.querySelectorAll('gp-item'));
				var settings = this.$.settings.get();
				var promises = items.map(item => {
					return item.run(settings);
				});
				Promise.all(promises).then(() => {
					// console.log('encoding promises resolved!');
					this._setState('stopped');
				});
			},

		});

	})();</script>

</dom-module>