<!-- 

	TODO 

	- output options
		- max-height, max-width

	- no transparency pixel on gifs
	- paletteuse adds ~3x file size. why?

	- get preview frame

-->

<link rel='import' href='./gp-thumbnail.html'>

<dom-module id='gp-item'>

	<style>

		:host {
			position: relative;
			width: 100%;
			padding: 5px;
		}

	</style>
	
	<template>

		<gp-thumbnail id='thumb'></gp-thumbnail>
		<div id='state'>[[state]]</div>
		<div id='progress'></div>
		<div id='filename' title='[[file.path]]'>[[file.path]]</div>
		<div class='btns'>	
			<div id='open-btn' class='btn fa fa-external-link-square' on-click='_open'></div>
			<div id='remove-btn' class='btn fa fa-close' on-click='_remove'></div>
		</div>


	</template>

	<script>(function(){

		const fs = require('fs');
		const path = require('path');
		const paths = require('./modules/paths');
		const shell = require('electron').shell;
		const ffmpeg = require('fluent-ffmpeg');
		const ffmpegPath = require('./modules/ffmpeg-static').ffmpeg;
		const ffprobePath = require('./modules/ffmpeg-static').ffprobe;
		ffmpeg.setFfmpegPath(ffmpegPath);
		ffmpeg.setFfprobePath(ffprobePath);
		console.log(ffmpegPath);
		
		Polymer({
			is: "gp-item",

			properties: {
				file: {
					type: Object,
					observer: '_onFileChanged'
				},
				state: {
					type: String,
					readOnly: true,
					value: 'ready', // ready, processing, done
					notify: true
				},
				progress: {
					type: Number,
					value: 0,
					readOnly: true
				}
			},

			_onFileChanged(){
				console.log(this.localName, '_onFileChanged');
				this.$.filename.innerHTML = path.basename(this.file.path);
				this.$.thumb.video = this.file.path;
			},

			_generatePalette(){
				var settings = this._settings;
				
				return new Promise( (resolve, reject) => {
					this.paletteCommand = ffmpeg(this.file.path)
						.on('start', commandLine => {
							// console.log('Spawned Ffmpeg with command: ' + commandLine);
						})
						.fps(settings.fps)
						.videoFilters([
							'palettegen'
						])
						.on('error', e => {
							console.log(e);
							reject(e);
						})
						.on('end', () => {
							resolve();
						})
						.save( this._getPalettePath(this.file.path) );

					// console.log(this.paletteCommand);

				}).catch( err => { console.log(err); } );
			},

			_getPalettePath(name){
				return path.join(paths.temp, path.basename(name) + '.png');
			},
			_getGIFPath(name){
				// console.log('_getGIFPath', this, name);
				return path.join(this._settings.output, path.basename(name) + '.gif')
			},

			_encodeGIF(){
				var settings = this._settings;

				return new Promise( (resolve, reject) => {

					this.ffmpegCommand = ffmpeg()
						.input(this.file.path)
						.input(this._getPalettePath(this.file.path))
						.fps(settings.fps)
						.outputOptions([
							'-lavfi paletteuse'
						])
						.on('start', commandLine => {
							// console.log('Spawned Ffmpeg with command: ' + commandLine);
						})
						.on('progress', progress => {
							console.log('progress', progress.percent);
							this._setProgress(progress.percent);
							this.$.progress.innerHTML = Math.round(progress.percent) + '%';
						})
						.on('error', (err, stdout, stderr) => {
							console.log('Cannot process video: ' + err.message);
							//TODO: display error message in parent
							reject(err.message);
						})
						.on('end', () => {
							console.log('Transcoding succeeded!');
							this._setProgress(100);
							this.$.progress.innerHTML = '100%';
							this._setState('done');
							resolve();
						})
						.save( this._getGIFPath(this.file.path) );
				});
			},

			run(settings){

				// only run the encoding process once
				if(this.runPromise !== undefined) return this.runPromise;
				
				this._settings = settings;
				
				this._setState('processing');

				this.runPromise = 
					this._generatePalette()
					.then(() => {
						this._encodeGIF();
					});

				return this.runPromise;
			},

			_open(){
				console.log('_open', this);

				//FIXME: open in a browser. preview doesn't do gifs on mac
				shell.openItem( this._getGIFPath(this.file.path) );

				// convert to dataurl, then open as url...??

				// or just open an overlay with the gif in it
				
				// var gifpath = 'file://' + this._getGIFPath(this.file.path);
				// shell.openExternal( gifpath );
			},

			_remove(){
				//TODO animate
				this.remove();
			}

		});

	})();</script>

</dom-module>