<dom-module id='gp-menu-bar'>

	<style>

		:host {
			position: absolute;
			top: 0; left: 0;
			border-bottom: 1px solid rgba(127, 127, 127, 0);
			width: 100%; height: 40px;
			-webkit-app-region: drag;
			cursor: move;
			transition: all .2s;
		}

		:host:hover {
			border-bottom: 1px solid rgba(127, 127, 127, .4);
			background-color: black;
		}
	
		.buttons {
			float: right;
			margin-right: 10px;
			-webkit-app-region: no-drag;
			-webkit-user-select: none;
		}

		a {
			float: left;
			font-size: .7em;
			color: white;
			text-decoration: none;
			text-align: center;
			margin: 0 5px;
			width: 20px; height: 20px;
			line-height: 20px;
			border-radius: 50%;
			border: 1px solid gray;
			margin-top: 10px;
			transition: all .1s;
			background-color: rgba(255, 255, 255, .1);
		}

		a:hover {
			color: black !important;
			background-color: white;
			border-color: transparent !important;
		}

		a#min-btn {
			border-color: orange;
			color: orange;
		}
		a#max-btn {
			border-color: green;
			color: green;
		}
		a#close-btn {
			border-color: red;
			color: red;
		}

	</style>
	
	<template>
		
		<div class='buttons'>
			<a href='#' id='max-btn' on-click='_onClickMax' title='maximize'>+</a>
			<a href='#' id='min-btn' on-click='_onClickMin' title='minimize'>-</a>
			<a href='#' id='close-btn' on-click='_onClickClose' title='quit'>x</a>
		</div>

	</template>

	<script>(function(){

		var nw = require('nw.gui');
		var win = nw.Window.get();
		
		Polymer({

			is: 'gp-menu-bar',

			ready: function() {

				this.addEventListener('dblclick', this._onMaximize);

				win.on('maximize', function(e) {
					win.isMaximized = true;
				});
				win.on('unmaximize', function(e) {
					win.isMaximized = false;
				});
			},

			_onClickClose: function(){
				win.close();
			},

			_onClickMin: function(){
				win.minimize();
			},

			_onClickMax: function(){
				this._onMaximize();
			},

			_onMaximize: function(){
				if(win.isMaximized){
					win.unmaximize();
				}else{
					win.maximize();
				}
			},

		});

	})();</script>

</dom-module>