
<!-- 


-->

<dom-module id='gp-output-dir'>

	<style>
		
		:host {
			position: relative;
			-webkit-user-select: none;
		}

		.path {
			font-size: .8em;
			margin-left: 10px;
			transition: all .1s;
		}
		.path:hover {
			color: var(--light-green);
		}

	</style>
	
	<template>
		<span id='outputBtn' class='btn bubble' on-click='_onClickOutputBtn'>
			<span>save to</span>
			<span class='fa fa-folder-open'></span>
		</span>

		<span class='path btn' on-click='_onClickOpenOutputBtn' title='[[path]]'>
			<span id='path-display'></span>
			<span class='fa fa-external-link-square'></span>
		</span>
	</template>

	<script>(function(){
		'use strict';

		var path = require('path');
		var shell = require('electron').shell;
		var paths = require('./modules/paths');
		var remote = require('electron').remote;

		Polymer({
			is: 'gp-output-dir',
			
			properties: {
				path: {
					type: String,
					value: localStorage.getItem('output-dir') || paths.desktop,
					observer: '_onPathChanged'
				}
			},

			ready(){
				
			},

			_onPathChanged(){
				var maxChars = 30;
				var chars = this.path;
				if(chars.length > maxChars){
					chars = chars.slice(chars.length - maxChars, chars.length);
					chars = '...' + chars;
				}
				this.$['path-display'].innerHTML = chars;
			},

			_onClickOpenOutputBtn(){
				shell.openExternal('file://'+this.path);
			},

			_onClickOutputBtn(){

				let options = {
					title: 'Select output folder',
					properties: ['openDirectory', 'createDirectory'],
				};
				var defaultPath = localStorage.getItem('output-dir');
				if(defaultPath) options.defaultPath = defaultPath;

				remote.dialog.showOpenDialog(remote.getCurrentWindow(), options, folders => {
					// console.log('request-output-dir', folders);
					if(folders){
						// event.sender.send('request-output-dir', folders[0]);
						this.path = folders[0];
						localStorage.setItem('output-dir', this.path);
					}
				});
			},

		});

	})();</script>

</dom-module>