<!-- 


-->

<dom-module id='gp-progress-bar'>

	<style>

		:host {
			position: relative;
			display: block;
			width: 100%;
			height: 5px;
		}
		
		#progress-bar {
			width: 100%; height: 100%;
			border-bottom: 1px solid #200067;
			transform-origin: right;
		}

		#progress {
			position: absolute;
			width: 100%; height: 100%;
			transform: scaleX(0);
			transform-origin: left;
			background-color: var(--light-green);
			transition: transform .1s linear;
		}

	</style>
	
	<template>

		<div id="progress-bar">
			<div id="progress"></div>
		</div>

	</template>

	<script>
		
		Polymer({
			is: 'gp-progress-bar',

			properties: {
				progress: {
					type: Number,
					value: 0,
					observer: '_onProgressChanged'
				}
			},

			_onProgressChanged(){
				this.$.progress.style.transform = 'scaleX(' + this.progress/100 + ')';
			},

			show(){
				TweenMax.fromTo(this.$['progress-bar'], .8, {scaleX: 0}, {scaleX: 1, ease: Power4.easeOut});
			},

			hide(){
				this.style.transformOrigin = 'right';
				TweenMax.to(this, .5, {autoAlpha: 0, scaleX: 0, delay: .1, ease: Power3.easeIn});
			}

		});

	</script>

</dom-module>