<link rel='import' href='./gp-output-dir.html'>

<dom-module id='gp-settings'>

	<style>
		:host {
		}

		.content {
			display: inline-block;
			padding: 30px;
		}

		.content .item {
			position: relative;
			display: block;
			float: left;
			clear: both;
			margin-bottom: 20px;
		}

		input {
			border: none;
			border-radius: 2px;
			padding: 5px 10px;
			outline: none;
			border: 1px solid transparent;
			width: 80px;
		}
		input:focus {
			border: 1px solid var(--light-green);
		}
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			/* display: none; <- Crashes Chrome on hover */
			-webkit-appearance: none;
			margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
		}

		.colors {
		}
		.colors input { 
			padding: 0;
			width: 190px;
		}
		.colors label {
			position: absolute;
			right: -10px;
			top: 50%;
			transform: translate(100%, -50%);
			font-size: .8em;
		}

		.fa-close {
			padding: 0 2px;
		}

		.fa-question-circle {
			margin-left: 5px;
			transition: text-shadow 2s;
		}
		.fa-question-circle:hover {
			color: var(--light-green);
			/*text-shadow: 0 0 8px white;*/
			text-shadow: 0 0 8px var(--light-green);
		}

	</style>
	
	<template>
		<div class='content'>
			<gp-output-dir id='outputDir' class='item'></gp-output-dir>
			<div id='size' class='item'>
				<input id='widthInput' type='number' placeholder='width' min='0' title='width'>
				<span class='fa fa-close'></span>
				<input id='heightInput' type='number' placeholder='height' min='0' title='height'>
				<span class='fa fa-question-circle' title='[[tooltip_size]]'></span>
			</div>
			<div class='item'>
				<input id='fpsInput' type='number' placeholder='fps' min='1' max='300'>
				<span class='fa fa-question-circle' title='[[tooltip_fps]]'></span>	
			</div>
			<div class='item colors'>
				<input type='range' min='3' max='256' id='colors' value={{colors::input}}>
				<label for='colors'>
					{{colors}} colors <span class='fa fa-question-circle' title='[[tooltip_colors]]'></span>
				</label>
				
			</div>
		</div>
	</template>

	<script>
		
		Polymer({
			is: 'gp-settings',

			properties: {
				tooltip_size: {
					type: String,
					readyOnly: true,
					value: 'Size of output gif. Optional. Defaults to size of the input video. Define one or both dimensions to resize the output gif. Defining only one dimension will automatically determine the other, based on aspect ratio.'
				},
				tooltip_fps: {
					type: String,
					readyOnly: true,
					value: 'Frames per second of output gif. Optional. Defaults to fps of the input video. Lowering this value will dramatically decrease file size.'
				},
				tooltip_colors: {
					type: String,
					readyOnly: true,
					value: 'Number of colors to use in the palette. Ranges 2-256.'
				},
				colors: {
					type: Number,
					value: 256
				}
			},

			ready(){
				this.$.fpsInput.addEventListener('change', this._validateFPSValue.bind(this));
			},

			_validateFPSValue(){
				var input = this.$.fpsInput;
				if(input.value > 300) input.value = 300;
				if(input.value <= 0) input.value = 1;
			},

			get(){

				return {
					fps: this.$.fpsInput.value,
					output: this.$.outputDir.path,
					width: this.$.widthInput.value,
					height: this.$.heightInput.value,
					colors: this.$.colors.value
				};
			},

			getInfo(){
				var info = this.get();
				Object.keys(info).map(key => {
					info[key] === '' ? info[key] = '*' : null;
				});
				if(info.output.length > 50){
					info.output = info.output.slice(info.output.length-50, info.output.length);
					info.output = '...' + info.output;
				}
				return `output: ${info.output} | size: ${info.width}x${info.height} | colors: ${info.colors} | fps: ${info.fps}`;
			}

		});

	</script>

</dom-module>