<!-- 


-->

<dom-module id='gp-version'>

	<style>
		:host {
			font-size: .8em;
			text-align: right;
			line-height: 1.5;
		}
		a {
			color: var(--light-green);
			pointer-events: all;
			cursor: pointer;
		}
		#upgrade {
			color: lime;
		}
	</style>
	
	<template>
		<a id='upgrade' on-click="_onClickUpgrade" hidden>Upgrade to Pro!</a>
		<a id='update' on-click="_onClickUpdate" hidden>Update available! v{{remoteVersion}}</a>
		<div id='version'>GIFGOAT [[type]] v[[localVersion]]</div>
	</template>

	<script>(function(){

		const semver = require('semver');
		const request = require('request');
		const localPackage = require('./package.json');
		const shell = require('electron').shell;

		Polymer({
			is: 'gp-version',

			properties: {
				type: {
					type: String,
					readOnly: true,
					value: localPackage.pro === true ? 'pro' : 'free'
				},
				localVersion: {
					type: String,
					readOnly: true,
					value: localPackage.version
				},
				remoteVersion: {
					type: String,
					readOnly: true,
				}
			},

			ready(){
				if(this.type === 'free'){
					this.$.upgrade.removeAttribute('hidden');
					request('http://gifgoat.positlabs.com/package.json', (error, response, body) => {
						var remotePackage = JSON.parse(body);
						this._setRemoteVersion(remotePackage.version);
						// console.log(remotePackage.version, localPackage.version, semver.gt(remotePackage.version, localPackage.version))
						if(semver.gt(remotePackage.version, localPackage.version)){
							// show update message
							this.$.update.removeAttribute('hidden');
						}
					});
				}
			},
			
			_onClickUpgrade(){
				shell.openExternal('https://itunes.apple.com/us/app/gifgoat/id1082478920?ls=1&mt=8');
			},

			_onClickUpdate(){
				shell.openExternal('https://www.dropbox.com/s/wdbq8dwcghe58tn/GifGoat.app.zip?dl=1');
			}
		});

	})();</script>

</dom-module>