
<!-- 


-->

<dom-module id='gp-output-dir'>

	<style>
		
		:host {
			position: relative;
			-webkit-user-select: none;
		}

		.path {
			font-size: .8em;
			margin-left: 10px;
			transition: all .1s;
		}
		.path:hover {
			color: var(--light-green);
		}

	</style>
	
	<template>
		<span id='outputBtn' class='btn bubble' on-click='_onClickOutputBtn'>
			<span>save to</span>
			<span class='fa fa-folder-open'></span>
		</span>

		<span class='path btn' on-click='_onClickOpenOutputBtn' title='[[path]]'>
			<span id='path-display'></span>
			<span class='fa fa-external-link-square'></span>
		</span>
	</template>

	<script>(function(){
		'use strict';

		const path = require('path')
		const shell = require('electron').shell
		const paths = require('./modules/paths')
		const remote = require('electron').remote
		const pkg = require('../package.json')
		const utils = require('./modules/utils')

		Polymer({
			is: 'gp-output-dir',
			
			properties: {
				path: {
					type: String,
					value: localStorage.getItem('output-dir') || paths.downloads,
					observer: '_onPathChanged'
				}
			},

			ready(){
				
			},

			_onPathChanged(){
				var chars = utils.ellipsesPrefix(this.path, 30)
				this.$['path-display'].innerHTML = chars
				localStorage.setItem('output-dir', this.path)
			},

			_onClickOpenOutputBtn(){
				shell.openExternal('file://'+this.path)
			},

			_onClickOutputBtn(){

				let options = {
					title: 'Select output folder',
					properties: ['openDirectory', 'createDirectory'],
					defaultPath: this.path
				};

				options.defaultPath = localStorage.getItem('output-dir') || this.path

				remote.dialog.showOpenDialog(remote.getCurrentWindow(), options, folders => {
					// console.log('request-output-dir', folders);
					if(folders){
						this.path = folders[0]
					}
				})
			},

		})

	})()</script>

</dom-module>
