<!-- 


-->

<dom-module id='gp-version'>

	<style>
		:host {
			font-size: .8em;
			text-align: right;
			line-height: 1.5;
		}
		a {
			color: var(--light-green);
			pointer-events: all;
			cursor: pointer;
			display: block;
		}
		a[hidden] {
			display: none;
		}

	</style>
	
	<template>
		<a id='update' on-click="_onClickUpdate" hidden>Update available! {{remoteVersion}}</a>
		<div id='version'>GIFGOAT v[[localVersion]]</div>
	</template>

	<script>(function(){

		const semver = require('semver')
		const request = require('request')
		const os = require('os')
		const fs = require('fs')
		const path = require('path')
		const localPackage = require('../package.json')
		const shell = require('electron').shell
		const paths = require('./modules/paths')
		const swal = require('sweetalert')

		Polymer({
			is: 'gp-version',

			properties: {
				localVersion: {
					type: String,
					readOnly: true,
					value: localPackage.version
				},
				remoteVersion: {
					type: String,
					readOnly: true,
				}
			},

			ready(){
				request('https://api.github.com/repos/positlabs/gif-goat/releases/latest', {
					headers: {
						'User-Agent': 'gif-goat'
					}
				}, (error, response, body) => {
					this._latest = JSON.parse(body)
					// this._latest = releases[0]
					console.log(this._latest)
					this._setRemoteVersion(this._latest.tag_name)
					// if(semver.gt(this._latest.tag_name, '0.1.0')){
					if(semver.gt(this._latest.tag_name, localPackage.version)){
						// show update message
						this.$.update.removeAttribute('hidden')
					}
				})
			},
			
			_onClickUpdate(){
				if(this.updating) return
				this.updating = true
				this.$.update.innerHTML = 'downloading update...'

				// determine platform and select appropriate installer extension
				var installerExt = {
					Darwin: '.dmg',
					Windows_NT: '.msi'
				}[os.type()]

				// find asset by extension
				var platformAsset = this._latest.assets.find(a => a.name.indexOf(installerExt))
				console.log(platformAsset)

				var url = platformAsset.browser_download_url
				var dest = path.join(paths.temp, platformAsset.name)
				var fileWriteStream = fs.createWriteStream(dest)

				var req = request(url)
					.pipe(fileWriteStream)
					.on('error', (err) => {
						console.error(err)
						swal({
							title: 'Error!',
							text: 'There was a problem downloading the update file.'
						})
					})

					fileWriteStream.on('finish', () => {
						console.log('opening installer...')
						shell.openItem(dest)
						this.$.update.setAttribute('hidden', '')
					})

				// shell.openExternal(url)
			}
		})

	})()</script>

</dom-module>